/* ALL */

:ROOT {
    --dkgrey:#333333;
    --ltgrey:#E4E6EB;
    --yellow:#D4D492;
}

html, body {
   max-width: 100%;
   overflow-x: hidden;
   background-color: var(--ltgrey);
   font-family: "Lounge", sans-serif;
   scroll-behavior: smooth;
   cursor: url(images/cursor-dkgrey.png), pointer;
}

/* FIXED NAV */

#navigation {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 300px;
    background-color: var(--dkgrey);
    padding: 10px;
    z-index: 99999;
}

#navigation:hover {
    cursor: url(images/cursor-ltgrey.png), pointer;
}

#navigation img {
    max-height: 300px;
    margin-bottom:25px;
}

#navigation #pages, #navigation #social {
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

#navigation a {
    text-transform: uppercase;
    color: var(--yellow);
    text-decoration: none;
    letter-spacing: 4px;
    line-height: 30px;
    font-size: 20px;
}

#navigation a:hover, #navigation #social img:hover {
    cursor: url(images/cursor-ltgrey.png), pointer;
}

#navigation #social {
    margin: 50px 0px 0px 10px;
}

#navigation #social li{
    display:inline;
}

#navigation #social img {
    max-height: 25px;
    margin: 0px 5px 0px 0px;
}

/* LANDING IMAGE */

#landing-page {
    position: absolute;
    background-color: var(--yellow);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
    display: grid;
}

/* CONTENT - ALL */

main {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 75%;
    right: 0;
}

main section {
    text-align: center;
}

main img {
    max-width: 500px;
    margin-bottom: 25px;
}

/* CONTENT - ABOUT */

#about #photo-jess {
    border: 5px solid var(--dkgrey);
    border-radius: 110px;
    max-height: 200px;
    margin: auto;
}

#about #photo-jess:hover {
    cursor: url(images/cursor-hi.png), pointer;
}

#about div, #contact form {
    width: 50%;
    margin: auto;
    text-align: center;
}

#about div p {
    text-align: justify;
}

/* CONTENT - WORK */

#work, #contact {
    margin-top: 150px;
}

#work .work-content {
    margin: auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#work .work-content a {
    /*border: 3px solid black;*/
    background-color: var(--yellow);
    height: 250px;
    color: var(--dkgrey);
    text-decoration: none;
}

#work .work-content a:hover {
    background-color: var(--dkgrey);
    color: var(--yellow);
    cursor: url(images/cursor-ltgrey.png), pointer;
}

#work .work-content h2 {
    margin: 25px 0px 0px 0px;
    padding: 0px;
    font-size: 34px;
    text-transform: uppercase;
    font-family: "Lounge", sans-serif;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 40px;
}

#work .work-content h3 {
    margin: 5px 0px 0px 0px;
    font-size: 12px;
    letter-spacing: 1px;
}

#work .work-content #main-work {
    flex: 1 0 97%;
    margin: 1% 1%;
}

.work-content .all-work {
    flex: 1 0 30%;
    margin: 1% 1%;
}

#main-work:hover::after, .all-work:hover::after {
    content: "click me!";
    background-color: var(--yellow);
    color: var(--dkgrey);
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* CONTENT - CONTACT */

#contact form {
    padding-bottom: 150px;
}

#contact form:hover {
    cursor: url(images/cursor-ltgrey.png), pointer;
}

#contact form input, #contact textarea, #contact form button {
    width: 100%;
    height: 30px;
    border: none;
    background-color: var(--yellow);
    color: var(--dkgrey);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0;
    text-align:center;
    font-family: "Lounge", sans-serif;
    font-weight: normal;
}

#contact textarea {
    height: 100px;
    font-family: "Lounge", sans-serif;
    overflow: hidden;
    resize: none;
    padding-top: 5px;
}

#contact form input::placeholder, #contact textarea::placeholder, #contact form button {
    color: var(--dkgrey);
    font-family: "Lounge", sans-serif;
    font-weight: normal;
}

#contact form input:focus, #contact textarea:focus, #contact form input:hover, #contact form textarea:hover, #contact form button:hover {
    background-color: var(--dkgrey);
    color: var(--yellow);
    cursor: url(images/cursor-ltgrey.png), pointer;
}