/* ALL */

:ROOT {
    --dkgrey:#333333;
    --ltgrey:#E4E6EB;
    --yellow:#D4D492;
}

html, body {
   max-width: 100%;
   overflow-x: hidden;
   background-color: var(--ltgrey);
   font-family: "Lounge";
   scroll-behavior: smooth;
}

/* FIXED NAV */

#navigation {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 300px;
    background-color: var(--dkgrey);
    padding: 10px;
    z-index:1;
}

#navigation img {
    max-height: 300px;
    margin-bottom:25px;
}

#navigation #pages, #navigation #social {
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

#navigation a {
    text-transform: uppercase;
    color: var(--yellow);
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 40px;
}

#navigation a:hover {
    color: var(--dkgrey);
}

#navigation #social li{
    display:inline;
}

/* CONTENT */

main {
    position: absolute;
    height: 100%;
    width: 75%;
    right: 0;
}

main section {
    border: 5px solid black;
    text-align: center;
}

main img {
    max-width: 500px;
    margin-bottom: 25px;
}

/* CONTENT - ABOUT */

#about #photo-jess {
    border: 3px solid var(--dkgrey);
    border-radius: 100px;
    max-height: 200px;
    margin: auto;
}

#about div, #contact form {
    width: 50%;
    margin: auto;
    text-align: center;
}

#about div p {
    text-align: justify;
}

/* CONTENT - WORK */

#work .work-content {
    margin: auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
}

.work-content #main-work {
    flex: 1 0 100%;
}

.work-content .all-work {
    border: 1px solid black;
    flex: 1 0 30%;
}

/* CONTENT - CONTACT */

#contact form input, #contact textarea, #contact form button {
    width: 100%;
    height: 30px;
    border: none;
    background-color: var(--yellow);
    color: var(--dkgrey);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0;
    text-align:center;
}

#contact textarea {
    height: 100px;
    font-family: "Lounge";
    overflow: hidden;
    resize: none;
    padding-top: 3px;
}

#contact form input::placeholder, #contact textarea::placeholder {
    color: var(--dkgrey);
}

#contact form input:focus, #contact textarea:focus, #contact form button:hover {
    background-color: var(--dkgrey);
    color: var(--yellow);
}